// Colors
$color-red          : #3E1A1C;
$color-orange       : orange;
$color-yellow       : yellow;
$color-blue         : blue;
$color-green        : green;
$color-purple       : #5E2C4F;
$color-pink         : #b21998;
$color-grey         : #D2D1CC;
$color-lightpink    : #A08993;
$color-brown        : #5F4B4C;
$color-black        : #1A0E18;
$color-white        : #FFF6F6;

//sizes
$header-height      : 100px;
$footer-height      : $header-height;

$line-height        : 1em;

$gutter             : 0.5em;

$menu-width         : 60px;


// mix
$transitions: all .15s ease-in-out;